{% extends 'master.html' %}
 {% block title %}Cart{% endblock %} 
 {% block body%}
{% load cart_tag %}
<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Shopping Cart</li>
      </ol>
    </div>
    
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td class="quantity">Days</td>
            <td class="total">Total</td>
            <td></td>
          </tr>
        </thead>

        <tbody>
          {% for key,value in request.session.cart.items %}
          <tr>
            <td class="cart_product">
              <a href=""><img src="{{value.image}}" width="120" height="80" alt="" /></a>
            </td>
            <td class="cart_description">
              <h4><a href="">{{value.name}}</a></h4>
              <p>{{value.brand}}</p>
            </td>
            <td class="cart_price">
              <p>{{value.price}}</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <a class="cart_quantity_up" href="{% url 'item_increment' value.product_id %}"> + </a>
                <input
                  class="cart_quantity_input"
                  type="text"
                  name="quantity"
                  value=" {{value.quantity}}"
                  autocomplete="off"
                  size="2"
                />
                <a class="cart_quantity_down" href="{% url 'item_decrement' value.product_id %}"> - </a>
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">{{ value.price|multiply:value.quantity }}</p>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" href="{% url 'item_clear' value.product_id %}"
                ><i class="fa fa-times"></i
              ></a>
            </td>
          </tr>
          
          {% endfor %}
         
        </tbody>
      </table>
       {% if request.session.cart|length == 0 %}
          <p>No any Item Added to cart </p>
          {% endif %}

          
    </div>
  </div>
</section>
<!--/#cart_items-->





<section id="do_action">
  <div class="container">
    <div class="heading">
      <h3>What would you like to do next?</h3>
      <p>
       Now its time for check out or
       if you want to change the product or number of day please do befor checkout..
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="total_area">
          <ul>
            <li>Cart Sub Total <span>{{ cart_total_amount }}</span></li>
            <li>Shipping Cost <span>Free</span></li>
            <li>Total <span> {{ cart_total_amount }}</span></li>
          </ul>
          
           <a class="btn btn-default check_out" data-toggle="modal" data-target="#exampleModalCenter">Rent Now </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Please Fill the information for order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <div class="modal-body">
          <form action="{% url 'ordernow' %}" method="POST" >
            {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">Start Date</label>
                <input type="date" name="start_date" class="form-control" >
                </div>
              
              <div class="form-group">
               <label for="exampleInputEmail1">Shipping Address</label>
                <input type="text" name="address" placeholder="Enter Your full shipping address" class="form-control" >
              </div>
              
              <div class="form-group">
               <label for="exampleInputEmail1">Phone Number</label>
                <input type="number" name="phone" placeholder="Enter Your phone number" class="form-control" >
              </div>
              
              <div class="form-group">
               <label for="exampleInputEmail1">Any Note</label>
                <textarea name="note" class="form-control" > </textarea>
              </div>
              
               
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>

          </div>
      </div>
  </div>
</div>

{% endblock %}
