{% extends 'master.html' %} 
{% block title %}Login{% endblock %}
{% load static
{% block body%}
<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<form action="#">
							<input type="text" placeholder="Name" />
							<input type="email" placeholder="Email Address" />
							<span>
								<input type="checkbox" class="checkbox"> 
								Remember Me ?  
                 <a href="user-register">Register</a>
							</span>
              
             
							<button type="submit" class="btn btn-default">Login</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
	       <img src="static/images/social.png" alt=""  style="height:250px;" />
     
			</div>
		</div>
	</section><!--/form-->





{% endblock %}
