{% extends 'master.html' %} 
{% block title %}Register{% endblock %}
{% load static
{% block body%}
<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Register as Buyer</h2>
						<form action="" method="POST">
						{% csrf_token %}
							
						
						
						{{form.username.label}}
						{{form.username}}

						{{form.email.label}}
						{{form.email}}

						{{form.password1.label}}
						{{form.password1}}

						
						{{form.password2.label}}
						{{form.password2}}
							{% comment %} 
							<input type="text" placeholder="Name"/>
							<input type="email" placeholder="Email Address"/>
							<input type="password" placeholder="Password"/>
							<input type="password" placeholder="Conform Password"/> {% endcomment %}
							<a href="user-login">Already have account ?</a>
							<button type="submit" class="btn btn-default">Register Now</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="login-form"><!--sign up form-->
						<h2>Register as Seller</h2>
						<form action="#">
							<input type="text" placeholder="Name"/>
							<input type="email" placeholder="Email Address"/>
							<input type="password" placeholder="Password"/>
						    <input type="password" placeholder="Conform Password"/>
							<a href="user-login">Already have account ?</a>		
							<button type="submit" class="btn btn-default">Register Now</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->


{% endblock %}
